.container-flex-1{
    display: flex;
    flex-direction: column;
    background-color: #82E0AA;

}
.container-flex-2{
    display: flex;
    background-color: #A2D9CE;
    flex-direction: row;
}
.container-flex-3{
    display: flex;
    background-color: #F9E79F;
    flex-direction: column-reverse;
}
.container-flex-4{
    display: flex;
    background-color: #85C1E9;
    flex-direction: row-reverse;
}
.item-flex{
    width: 150px;
    height: 150px;
    background-color: #D5DBDB  ;
    margin: 20px;
    font-size: 1.5em;
    color: black;
}