*{
    margin: 0;
    padding: 0;
}
h1, h2 {
    text-align: center;
}
.Titulo{
    margin-top: 20px;
    font-size: 1.2em;
}
.content-main {
  width: 100%;  
  height: 800px;
  /*background-color: red;*/
  margin-top: 15px;
}
.content-1 {
    display: inline-block;
   /*background-color: goldenrod;*/
}
.content-2 {
    display: inline-block;
    /*background-color: palevioletred;*/
}
.content-3 {
    display: inline-block;
    /*background-color: purple;*/

}
.content-1, .content-2, .content-3, .content-4 {
    display: inline-block;
    margin-left: 0.3%;
    width: 24.4%;
    height:30px;
    vertical-align: top;
}
img {
    display: block;
    margin: 0 auto 0 auto;
}
p {
    font-size: 1em;
    text-align: justify;
    

}