*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
}
h1{
    color: whitesmoke;
    font-size: 2.2em;
    text-align: right;
    margin-top: 40px;
    font-weight: 900;
    margin-right: 100px;
    margin-bottom: 25px;
}
p{
    color: white;
    font-size: 1.3em;
    text-align: justify;

}
nav{
    background: #354d33;
    position: fixed;
    height: 100%;
    top: 0;
    z-index: 10;
    left: -17em;
    transition: all .7s;
}
.menu{
    list-style: none;
    line-height: 60px;
    margin: 7em auto 0 auto;
    width: 16em;
    padding-left: .1em;
}
.menu a{
    text-decoration: none;
    color: white;
    display: block;
    padding-left: 1.5em;
    width: 100%;
    font-size: 1.3em; 
    transition: all .5s;
    cursor: pointer;  
}
.menu li{
    box-shadow: -3px -5px 10px rgb(255, 255, 255,.2) inset;
    margin-bottom: 5px;
    transition: all .7s;
}
menu li:hover{
    box-shadow: -3px -5px 10px rgb(252, 252, 252,) inset;
}
.menu a:hover{
    margin-left: 1em;
}
.fas, .fab{
    color: white;
    padding-right: .3em;
}
.icono-menu{
    position: fixed;
    top: 50px;
    left: 40px;
    z-index: 20;     
}
.fa-bars{
    font-size: 1.8em;
}
.mostrarNav{
    left: 0;
}
.main-content{   
    width: 85%;
    margin-left: 100px;
    margin-right: 100px;
}


